*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-top: 20px;
    color: rgb(153, 51, 153);
    font-size: 5em;
}
p{
    text-align: center;
    margin-top: 10px;
    font-size: 1.2em;
    color: rgb(102, 51, 102);
}
.sticker-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.sticker1, .sticker2, .sticker3{
    width: 200px;
    height: 200px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
input[type="number"]{
    width: 100px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button{
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(204, 149, 204);
    border: none;
    border-radius: 5px;
    color: white;
}
button:hover{
    background-color: rgb(153, 102, 153);
}
.Resultado{
    text-align: center;
    margin-top: 30px;
    font-size: 1.5em;
    color: rgb(102, 51, 102);
}
button#calcularBtn{
    display: block;
    margin: 20px auto;
}