* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    padding: 10px;
    margin-top: 10px;
    color: brown;
}
img {
    cursor: pointer;
    border-radius: 10px;
    height:400px;
    width: auto;
}
