*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    height: 100vh;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
.selecciones{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
select{
    padding: 10px;
    font-size: 16px;
}
button{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #161212;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;

}
button:hover{
    background-color: #333;
}
.evaluacion{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}